.vs/
x64/
output/
output_history/
*.user
*.exe
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.ipdb
*.iobj
*.ptx
*.pgd
*.lib
*.dll
*.exp
__pycache__/
*.pyc
tools/cuda_*.exe
tools/winsdk_*.exe
tools/SDK/data/
tools/doc/*.pdf
*.stl
*.exr
*.scene_cache_content.bin
*.doc
*.docx
*.pdf
*.zip
*.7z
.idea/
算法/
